html, body {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
  background-color: #ffffff;
}
/*header::after {
  content: "";
  background-image: url("../images/nav-divider.png");
}*/

@font-face {
    font-family: "Anton-Regular";
    src: url('Anton-Regular.otf'),
         url(Anton-Regular.svg) format('svg');
}

@font-face {
    font-family: "AvenirBook";
    src: url('Avenir-Book.otf'),
         url('Avenir-Book.svg') format('svg');
}

@font-face {
    font-family: "PoiretOne-Regular";
    src: url('PoiretOne-Regular.otf'),
         url(PoiretOne-Regular.svg) format('svg');
}

header {
    margin: auto;
    display: inline-flex;
}

header .navigation {
    width: 100%;
    height: 7rem;
    background-color: #ffffff;
    margin: auto;
    position: fixed;
    z-index: 4;
}
.logo {
    display: inline-flex;
    line-height: 1;
    margin-left: 3rem;
}
.color-bg {    -webkit-background-clip: text;
    color: white;
    -webkit-text-fill-color: transparent;

               background-image: -webkit-gradient()(linear, left top, right top, from(#fa8500), to(#bd10e0));
               background-image: -webkit-linear-gradient(left, #fa8500, #f17322, #dc4c6d, #c21ace, #bd10e0);
               background-image:    -moz-linear-gradient(left, #fa8500, #f17322, #dc4c6d, #c21ace, #bd10e0);
               background-image:     -ms-linear-gradient(left, #fa8500, #f17322, #dc4c6d, #c21ace, #bd10e0);
               background-image:      -o-linear-gradient(left, #fa8500, #f17322, #dc4c6d, #c21ace, #bd10e0);

}
.logo > h1 {
    margin-left: 5rem;
    font-family: "Anton-Regular", sans-serif;
    font-size: 3vw;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-flex;
    line-height: 1;

    /* -webkit-background-clip: text; */
    /* color: white; */
    /* -webkit-text-fill-color: transparent; */
}

header .sub {
    width: inherit;
    display: inline-flex;
    margin-left: 1rem;
  font-family: "PoiretOne-Regular", cursive;
  font-size: 3vw;
  letter-spacing: 1px;

}


.mainMenu{
    width: auto;
    margin: auto;
    display: inline-flex;
}


.mainMenu ul {
    width: auto;
    margin: auto;
    list-style-type: none;
    display: inline-flex;
}

.mainMenu ul li {
    display: inline-flex;
    text-transform: uppercase;
}


.mainMenu ul  li  a {
    display: inline-flex;
    color: #000000;
    font-family: Arial-Black, san-serif;
    font-size: 1.7vw;
    padding: 1rem;
    text-decoration: none;
}





.mainMenu ul li:hover a {
                        -webkit-background-clip: text;
                    	color: white;
                    	-webkit-text-fill-color: transparent;
                      	background-image: -webkit-gradient()(linear, left top, right top, from(#fa8500), to(#bd10e0));
                    	background-image: -webkit-linear-gradient(left, #fa8500, #f17322, #dc4c6d, #c21ace, #bd10e0);
                    	background-image:    -moz-linear-gradient(left, #fa8500, #f17322, #dc4c6d, #c21ace, #bd10e0);
                    	background-image:     -ms-linear-gradient(left, #fa8500, #f17322, #dc4c6d, #c21ace, #bd10e0);
                    	background-image:      -o-linear-gradient(left, #fa8500, #f17322, #dc4c6d, #c21ace, #bd10e0);

                    }




/* Navigation Divider Bar */
nav.navigation::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 5px;
    background: -webkit-linear-gradient(left, #fa8500, #f17322, #dc4c6d, #c21ace, #bd10e0);
}


/* Bio Section */
.bio {
    max-width: 1280px;
    margin: auto;
}

.bio img {
    padding-top: 6.2rem;
    width: 100%;
    display: flex;
}
