*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 0px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  background-color: #ffffff;
  max-width: 1280px;
}

                   /* Navigation Section */

nav {
  display: block;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 1;
}

nav .logo {
    display: inline-block;
    float: left;
    width: 60%;
    margin: 25px 0 0 120px;
}

.nav-links ul {
  float: right;
  list-style-type: none;
  width: 40%;
  margin-right: 110px;
}

.nav-links ul li a {
  font-family: Arial-Black;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0.38px;
  text-decoration: none;
 }

.nav-btn {
  display: inline-block;
  padding: 0 11px 0 11px;
  text-transform: uppercase;
  background-size: 100% auto;
  border-radius: 1px;
  background: white;
  float: right;
 }

nav ul li a:hover {
    -webkit-background-clip: text;
	color: white;
	-webkit-text-fill-color: transparent;
  	background-image: -webkit-gradient()(linear, left top, right top, from(#fa8500), to(#bd10e0));
	background-image: -webkit-linear-gradient(left, #fa8500, #f17322, #dc4c6d, #c21ace, #bd10e0);
	background-image:    -moz-linear-gradient(left, #fa8500, #f17322, #dc4c6d, #c21ace, #bd10e0);
	background-image:     -ms-linear-gradient(left, #fa8500, #f17322, #dc4c6d, #c21ace, #bd10e0);
	background-image:      -o-linear-gradient(left, #fa8500, #f17322, #dc4c6d, #c21ace, #bd10e0);
}




nav .divider img{
    display: inline-block;
    width: 100%;
    padding: 0 10px 2px 0;

}

                /* Hero Image */

.hero img {
  width: 1040px;
  height: 803px;
  margin-top: 140px;
  margin-left: 120px;
  margin-right: 120px;
  align-items: center;
}


                /* My Work Section */

.header {
    width: 100%;
    padding-top: 80px;
}



.work-grid {
    display: inline-grid;
    grid-auto-columns: 120px 515px 515px 120px;
    grid-auto-rows: 467px 467px;
    grid-auto-flow: column;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    padding-top: 80px;
    padding-bottom: 80px;


}

.box {
    display:inline-grid;
    justify-content: center;
    margin: 1px;
}
#box1 {
    grid-column-start: 2;
    grid-column-end: span col2-start;
    grid-row-start: 1;
    grid-row-end: span 1;
    background-color: grey;
}
#box2 {
    grid-column-start: 3;
    grid-column-end: span col3-start;
    grid-row-start: 1;
    grid-row-end: span 1;
    background-color: grey;

}
#box3 {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span row2-start;
    background-color: grey;
}
#box4 {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: span row2-start;
    grid-row-end: span 2;
    background-color: grey;
 }


 /* Tool Box Section */

 .container .icon-grid {
     display: inline-grid;
     grid-auto-columns: 50px 115px 115px 115px 115px 115px 115px 50px;
     grid-auto-rows: 143px 143px;
     grid-auto-flow: column;
     grid-row-gap: 47px;
     grid-column-gap: 70px;
     padding-top: 80px;
     padding-bottom: 80px;
}

.icon img {
    max-width: 111px;
    max height: 110px;
    justify-content: center;
    margin: 5px;
    -webkit-filter: drop-shadow(-2px 0 4px rgba(0,0,0,0.50));
}

#icon1 {
    grid-column-start: 2;
    grid-column-end: span col2-start;
    grid-row-start: 1;
    grid-row-end: span 1;
}

#icon2 {
    grid-column-start: 3;
    grid-column-end: span col3-start;
    grid-row-start: 1;
    grid-row-end: span 1;
}

#icon3 {
    grid-column-start: 4;
    grid-column-end: span col4-start;
    grid-row-start: 1;
    grid-row-end: span 1;
}

#icon4 {
    grid-column-start: 5;
    grid-column-end: span col5-start;
    grid-row-start: 1;
    grid-row-end: span 1;
}

#icon5 {
    grid-column-start: 6;
    grid-column-end: span col6-start;
    grid-row-start: 1;
    grid-row-end: span 1;
}

#icon6 {
    grid-column-start: 7;
    grid-column-end: span col7-start;
    grid-row-start: 1;
    grid-row-end: span 1;
}

#icon7 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: span row2-start;
}

#icon8 {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: span row2-start;
}

#icon9 {
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: span row2-start;
}

#icon10 {
    grid-column-start: 5;
    grid-row-start: 2;
    grid-row-end: span row2-start;
}

#icon11 {
    grid-column-start: 6;
    grid-row-start: 2;
    grid-row-end: span row2-start;
}

#icon12 {
    grid-column-start: 7;
    grid-row-start: 2;
    grid-row-end: span row2-start;
}


.icon p {
    text-transform: uppercase;
    text-align: center;
    font-family: Avenir;
    font-size: 14px;
    color: #000000;
    letter-spacing: 1.12px;
}

/* Testimonials Section*/


#slides{
    position: relative;
    height: 450px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide{
    position: absolute;
    margin: 50px;
    width: 1200px;
    height: 450px;
    opacity: 0;
    z-index: 1;
    font-size: 24px;
    font-family: sans-serif;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    color: #000000;
    letter-spacing: 1.05px;
    line-height: 36px;
    padding: 80px;
    box-sizing: border-box;
    background-image: linear-gradient(0deg, #BD10E0 0%, #FA8500 13%);
    color: #fff;

    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.showing{
    opacity: 1;
    z-index: 2;
}

.testimonials .container {
    display: table;
    margin-top: 25px;

}


.slide:nth-of-type(1){
    background-image: linear-gradient(0deg, #BD10E0 0%, #FA8500 13%);
}
.slide:nth-of-type(2){
    background-image: linear-gradient(0deg, #BD10E0 0%, #FA8500 13%);
}
.slide:nth-of-type(3){
    background-image: linear-gradient(0deg, #BD10E0 0%, #FA8500 13%);
}



  /* MEDIA QUERIES */


@media (min-width: 460px) {
  .container {
    width: 40%;
  }

@media (min-width: 768px) {
  .container {
    width: 70%
  }

@media (min-width: 992px) {
  .container {
    width: auto;
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
