html, body {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow-x:  hidden;
    overflow-y: scroll;
}

body {
  background-color: #EFEFF4;
}


@font-face {
    font-family: "Anton-Regular";
    src: url('Anton-Regular.otf'),
         url(Anton-Regular.svg) format('svg');
}

@font-face {
    font-family: "AvenirBook";
    src: url('Avenir-Book.otf'),
         url('Avenir-Book.svg') format('svg');
}

@font-face {
    font-family: "PoiretOne-Regular";
    src: url('PoiretOne-Regular.otf'),
         url(PoiretOne-Regular.svg) format('svg');
}


nav{
    min-width: 100%;
    max-height: 120px;
    background: #1b1721;
    margin: auto;
    display: inline-block;
    position: fixed;
    z-index: 100;
}


.navigation-container {
  width: 1280px;
  height: 120px;
}


.logo-image {
    width: 100px;
    height: 94px;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 4rem;
}

nav h1{
    position: absolute;
    top: .75rem;
    left: 12rem;
    font-family: "Anton-Regular", sans-serif;
    font-size: 41px;
    letter-spacing: 3.28px;
    color: white;
    text-transform: uppercase;
    display: inline-block;
}


.mainMenu{
    display: inline-block;
    position: relative;
}
.mainMenu .icon {
    position: relative;
    padding: 40px;
    float: right;
}
.icon img {
    padding: 7px;
    position: absolute;
    top: 10px;
    left: 700px;
    bottom: 2px;
}



.icon:hover img{
                        border-radius: 30px;
                    	-webkit-text-fill-color: transparent;
                      	background-image: -webkit-gradient()(linear, top, bottom, from(#fa8500), to(#bd10e0));
                    	background-image: -webkit-linear-gradient(top, #fa8500, #f17322, #dc4c6d, #c21ace, #bd10e0);
                    	background-image:    -moz-linear-gradient(left, #fa8500, #f17322, #dc4c6d, #c21ace, #bd10e0);
                    	background-image:     -ms-linear-gradient(left, #fa8500, #f17322, #dc4c6d, #c21ace, #bd10e0);
                    	background-image:      -o-linear-gradient(left, #fa8500, #f17322, #dc4c6d, #c21ace, #bd10e0);

                    }




/* Hero Image */

.hero-container {
    width: 100%;
    position: absolute;
    margin: auto;
}

.hero {
  width: 100%;
  display: inline-flex;
  position: absolute;
  top: 130px;
  left: -30px;
}


/* My Work Grid Section */

.my-work {
    width: 1280px;
    height: 900px;
    margin: none;
    position: absolute;
    top: 1061px;
}
.container {
    display: inline-grid;
    grid-template-columns: 640px 640px;
    grid-template-rows: 50% 50%;
    margin: none;
}
.image{
    grid-column-start: 1 / span 2;
    grid-column-end: two;
    grid-row-start: row1-start
    grid-row-end: span 2;
    margin-top: -5px;
}


/* Bio Section */

.biography .container{
    width: 1280px;
}

svg {
  width: 100%;
  position: absolute;
}

.top-section {
    position: absolute;
    top: 1995px;
}
.bottom-section {
    position: absolute;
    top: 2530px;
}

#bio-text {
    position: absolute;
    top: 2315px;
    left: 100px;
}
.unicorn {
    position: absolute;
    top: 2650px;
    right: 100px;
}

.bio-img img{
    width: 342px;
    height: auto;
    position: absolute;
    top: 2240px;
}

 /* Tool Box Section */

.tool-box  {
    width: 100%;
    margin: auto;
}

.tools-bg {
    width: 1280px;
    height: 1126px;
    position: absolute;
    top: 2828px;
    left: 0px;
}

.tools-header {
    width:559px;
    height:105px;
    position: absolute;
    top: 3020px;
    left: 80px;
    font-family: Anton-Regular;
    font-size: 72px;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 2.25px;
    z-index: 10px;
}

.icon-grid {
    width: 1280px;
    position: absolute;
    top: 3130px;
}

.tool {
    width: 10%;
    display: inline-block;
    align-content: center;
    padding: 10px;
}


.tool img {
    width: 111px;
    height: 111px;
    display: inline-block;
    justify-content: space-around;
    padding: 10px;
    -webkit-filter: drop-shadow(-1px 0 1px rgba(0,0,0,0.5));
}
.tool p {
    justify-content: space-around;
    text-transform: uppercase;
    text-align: center;
    font-family: AvenirBook, san-serif;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 1.12px;
}



/* Large
@media all and (max-width: 1400px){
.icon-grid{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}
}

/* Medium screens
@media all and (max-width: 768px) {
    .icon-grid{
        display: flex;
        position: absolute;
        left: 20px;
    }
    .tool img,
    .tool img p{
       width: 90%;
       height: 90%;
       display: flex;
       justify-content: space-around;

  }
}

/* Small screens
@media all and (max-width: 500px) {
    .icon-grid{
        display: flex;
        position: absolute;
        left: 20px;
    }
    .tool img,
    .tool img p{
       width: 80%;
       height: 80%;
       display: flex;
       justify-content: space-around;

   }
   }
/* Small screens
@media all and (max-width: 375px) {
 .tool{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-flow: wrap;
    margin: auto;
    width: 40px;
    height: 40px;
    margin: 1.5rem;
    font-size: 10px;

  }
}*/





/* Testimonials Section*/

/*
.testimonials .slides-container {
    max-width: 1280px;
    max-height: 450px;
    margin: auto;
    justify-content: center;
    display: flex;
}
#slides{
    position: relative;
    width: 100%;
    height: 450px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
}

.slide{
    position: absolute;
    top: 3500px;
    width: 1060px;
    height: 450px;
    opacity: 0;
    font-size: 24px;

    font-family: "PoiretOne-Regular", cursive;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    color: #000000;
    letter-spacing: 1.05px;
    line-height: 36px;
    padding: 80px;
    box-sizing: border-box;
    background-color: #d8d8d8;
    color: #fff;

    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.showing{
    opacity: 1;
    z-index: 1;
}


.slide:nth-of-type(1){
    background-color: #d8d8d8;
}
.slide:nth-of-type(2){
    background-color: #d8d8d8;
}
.slide:nth-of-type(3){
    background-color: #d8d8d8;
}

/* Let's Work Together */

.CTA {
    max-width: 1280px;
    max-height: 400px;
    margin: auto;
    justify-content: center;
    align-content: center;
    margin-top: 120px;
}
.workTogether h1 {
font-family: "Anton-Regular", sans-serif;
font-size: 7.5vw;
color: #000000;
letter-spacing: 4.69px;
text-transform: uppercase;
text-align: center;
padding-top: 80px;
width: 100%;
}
.subheader {
font-family: "PoiretOne-Regular", cursive;
font-size: 2.5vw;
color: #000000;
letter-spacing: 1px;
text-align: center;
width: 100%;
}


.email-btn img  {
    width: 130px;
    height: 130px;
    margin: auto;
    margin-top: 40px;
    -webkit-filter: drop-shadow(-1px 0 1px rgba(0,0,0,0.50));
}

/* Footer Section */




  /* Mobile first queries */

  /* iphone 6 */
 @media (max-width: 375px){

nav .navigation-container {
    height: 75px;
}
.logo-image img {
    position: absolute;
    top: 15px;
    left: 40px;
    width: 50px;
}
.navigation-container h1 {
    position: absolute;
    top: 25px;
    left: 55px;
    font-size: 3.5vw;
    visibility: hidden;
}
.mainMenu {
    width: 300px;
    height: 75px;
    position: absolute;
    left: 75px;
}
.icon img{
    position: absolute;
    padding: 10px;
    top: 5px;
}
.hero-container img{
    position: absolute;
    width: 375px;
    top: 85px;
}
.my-work {
    top: 375px;
}
.bottom-section {
    top: 2731px;
}
.tools-header {
    width: 50%;
}
.icon-grid{
    width: 100%;
    position: absolute;
    top: 3080px;
    left: 0px;
    right: 0px;
    display: inline-block;
}
.tool {
    display: inline-block;
    max-width: 50px;
    align-items: center;
}
.tool img{
    width: 11vw;
    height: auto;
    display: inline-block;
    padding: 5px;
    align-self: center;
}
.tool p{
    font-size: 1.8vw;
    align-self: center;
}
.unicorn {
    width: 100px;
    top: 2870px;
    z-index: 5;
    left: 140px;
}
    }
  }

  @media (min-width: 400px) {
    .my-work .container
    {
      padding: 20px 0;
    }
    .my-work .header {
      display: none;
    }

    .my-work .text-header {
      display: block;
      width: 50%;
      height: 100%;
      margin-left: 2rem;
      margin-right: 2rem;
      font-family: "Anton-Regular", sans-serif;
      font-size: 3.8vw;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  /* Larger than phablet */
  @media (min-width: 550px) {
    .my-work .header {
      display: block;
    }
    .my-work .text-header {
      display: none;
    }
    .mainMenu ul {
      padding-left: 2rem;
    }


  }



  /* Larger than tablet */
  @media (min-width: 750px) {
    .mainMenu ul{
      padding-left: 40px;
    }
    .mainMenu ul li a {
      font-size: 1.7vw;
    }

  }

  /* Larger than desktop */
  @media (min-width: 1000px) {
      .icon-grid{
          position: absolute;
          left: 50px;
          right: 50px;
      }
      .tool {
          padding: 30px;
          display: inline-block;
      }

  }
  @media (min-width: 1030px) {
      .hero {
          position: absolute;
          top: 150px;
      }
      .icon-grid{
          width: 1030px;
          position: absolute;
          left: -20px;
          justify-content: space-around;
      }
      .tool img{
          width: 10vw;
          height: auto;
          display: inline-block;
          padding: 10px;
      }
      .tool p{
          font-size: 1.2vw;
      }
  }

  /* Larger than Desktop HD */
  @media (min-width: 1200px) {
      .hero {
          position: absolute;
          top: 150px;
      }
      .icon-grid{
          position: absolute;
          left: 50px;
          padding: 15px;
      }
  }
